<nav class="navbar-container">
  <div class="navbar-head">
    {{ $image := resources.Get "images/sample.png" }}
    <img src="{{ $image.RelPermalink }}">
    <p>Benas Raguckas</p>
    <sub>software developer</sub>

  </div>
  <div class="navbar-content">
    <ul>
      <li><a href="/" data-text="home">home</a></li>
      <li><a href="/about/" data-text="about">about</a></li>
      <li><a href="/projects/" data-text="projects">projects</a></li>
      {{ $resume := resources.Get "documents/Ben Raguckas - Resume.pdf"}}
      <li><a href="{{ $resume.Permalink }}" data-text="resume">resume</a></li>
    </ul>
  </div>
  <div class="navbar-foot">
    <ul>
      <li><a href="https://github.com/BenRaguckas"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/BenRaguckas/"><i class="fa-brands fa-linkedin"></i></a></li>
      {{/*  <li><a href="#"><i class="fa-solid fa-envelope"></i></i></a></li>  */}}
    </ul>
  </div>
</nav>